# Atomic Root Ignore
node_modules
node_modules/
**/node_modules
**/node_modules/
android
android/
**/android/**
ios
ios/
**/ios/**
dist
dist/
**/dist/**
public
public/
**/public/**
APKs
APKs/
**/APKs/**
marwad-native/node_modules
marwad-native/node_modules/
marwad-native/android
marwad-native/android/
marwad-native/.expo
marwad-native/.expo/
.git
.git/
*.apk
*.jks
*.keystore
*.mp3
*.log
.gemini
.agent
brain
