# Atomic Sub-folder Ignore
node_modules
node_modules/
**/node_modules
**/node_modules/
android
android/
**/android/**
ios
ios/
**/ios/**
.expo
.expo/
**/build/**
dist
dist/
**/dist/**
*.apk
*.jks
*.keystore
*.log
